
<div class="text-center">
    <img src="{{Base_url}}Pasteleria-removebg-preview.png" width="500" height="500">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{Base_url}}pastel1.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Cupcakes</h5>
                  <p class="card-text">Pequeños pastelillos rellenos de merengue dulce</p>
                  <a href="#" class="btn" style="color: white; background-color:#fad2dd;">𝓒𝓸𝓶𝓹𝓻𝓪𝓻 𝔂 𝓭𝓮𝓬𝓸𝓻𝓪𝓻</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{Base_url}}pastel2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pay</h5>
                  <p class="card-text">Deliciosa tarta de queso frio con orilla de galleta.</p>
                  <a href="#" class="btn" style="color: white; background-color:#fad2dd;">𝓒𝓸𝓶𝓹𝓻𝓪𝓻 𝔂 𝓭𝓮𝓬𝓸𝓻𝓪𝓻</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{Base_url}}pastel3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pan Dulce</h5>
                  <p class="card-text">Deliciosos panes dulces recien horneados</p>
                  <a href="#" class="btn" style="color: white; background-color:#fad2dd;">𝓒𝓸𝓶𝓹𝓻𝓪𝓻 𝔂 𝓭𝓮𝓬𝓸𝓻𝓪𝓻</a>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="{{Base_url}}pastel4.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Pastel de chocolate</h5>
                    <p class="card-text">Deliciosos pastel de chocolate de tres leches</p>
                    <a href="#" class="btn" style="color: white; background-color:#fad2dd;">𝓒𝓸𝓶𝓹𝓻𝓪𝓻 𝔂 𝓭𝓮𝓬𝓸𝓻𝓪𝓻</a>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="{{Base_url}}pastel5.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Pastel de vainilla con fresas</h5>
                    <p class="card-text">Deliciosos pastel de vainilla con cholate derretido de tres leches</p>
                    <a href="#" class="btn" style="color: white; background-color:#fad2dd;">𝓒𝓸𝓶𝓹𝓻𝓪𝓻 𝔂 𝓭𝓮𝓬𝓸𝓻𝓪𝓻</a>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="{{Base_url}}pastel6.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Pastel Ice Cream</h5>
                    <p class="card-text">Pastel de tres leches, con sabor a helado napolitano.</p>
                    <a href="#" class="btn" style="color: white; background-color:#fad2dd;">𝓒𝓸𝓶𝓹𝓻𝓪𝓻 𝔂 𝓭𝓮𝓬𝓸𝓻𝓪𝓻</a>
                  </div>
                </div>
            </div>
          </div>
      </div>
</div>
