<!-- <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{{Base_url}}Logo1.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
         <p class="TextLogo">𝓟𝓪𝓼𝓽𝓮𝓵𝓮𝓻𝓲𝓪 𝓢𝓪𝓴𝓾𝓻𝓪</p>
      </a>

    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><p class="TextLogo">𝓟𝓪𝓼𝓽𝓮𝓵𝓮𝓻𝓲𝓪 𝓢𝓪𝓴𝓾𝓻𝓪</p></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Menú</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Inventario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pedidos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>