<div class="text-center">
    <br>
    <h1>𝓒𝓸𝓶𝓹𝓻𝓪𝓻 𝔂 𝓭𝓮𝓬𝓸𝓻𝓪𝓻 𝓽𝓾 𝓹𝓪𝓼𝓽𝓮𝓵</h1>
    <br>
    <div class="card" style="width: 18rem; margin: auto;">
        <img  src="{{Base_url}}pastel1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cupcakes</h5>
            <p class="card-text">Pequeños pastelillos rellenos de merengue dulce. $20 c/u</p>
        </div>
      </div>
      <br>
   <div class="container">
    <form>
        <div class="mb-3">
            <div class="container">
                <div class="row">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Cantidad</label>
                    <input type="number" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Seleccionar Ingrediente 1</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione</option>
                        <option value="1">Chocolates $10</option>
                        <option value="2">Caramelos duros $5</option>
                        <option value="3">Chocolate derretido $5</option>
                        <option value="4">lunetas $5</option>
                        <option value="5">Ninguno</option>
                      </select>
                  </div>
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Seleccionar Ingrediente 2</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione</option>
                        <option value="1">Chocolates $10</option>
                        <option value="2">Caramelos duros $5</option>
                        <option value="3">Chocolate derretido $5</option>
                        <option value="4">lunetas $5</option>
                        <option value="5">Ninguno</option>
                      </select>
                  </div>
                </div>
              </div>
        </div>
        <div class="mb-3">
            <div class="container">
                <div class="row">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Seleccionar ingrendiente 3</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione</option>
                        <option value="1">Chocolates $10</option>
                        <option value="2">Caramelos duros $5</option>
                        <option value="3">Chocolate derretido $5</option>
                        <option value="4">lunetas $5</option>
                        <option value="5">Ninguno</option>
                      </select>
                  </div>
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Tipo de merengue</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione</option>
                        <option value="1">Merengue estandar $0</option>
                        <option value="2">Merengue envinado $5</option>
                        <option value="3">Merengue Light %0</option>
                      </select>
                  </div>
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label">Seleccionar empaquetado</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione</option>
                        <option value="1">Caja $10</option>
                        <option value="2">Bolsa $5</option>
                      </select>
                  </div>
                </div>
              </div>
        </div>
        <h3>Total: $35 </h3>
        <button type="submit" class="btn" style="color: white; background-color:#fad2dd;">𝓒𝓸𝓶𝓹𝓻𝓪𝓻</button>
      </form>
   </div>

</div>
