<div class="container">
    
    <div class="text-center">
        <h1>Pedidos</h1>
        
        <br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre de usuario</th>
                <th scope="col">pedido</th>
                <th scope="col">Fecha de creacion</th>
                <th scope="col">Status</th>
                <th scope="col">Accion</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Oscar</th>
                <td>10 cupkakes</td>
                <td>10/02/2022</td>
                <td>activo y en preparación</td>
                <td><button type="button" class="btn btn-primary">Validar</button></td>
              </tr>
                <tr>
                    <th scope="row">Gwendoline</th>
                    <td>1 pastel de vainilla</td>
                    <td>10/02/2022</td>
                    <td>activo y en preparación</td>
                    <td><button type="button" class="btn btn-primary">Validar</button></td>
                </tr>
                <tr>
                    <th scope="row">Andres</th>
                    <td>1 pastel de Chocolate</td>
                    <td>10/02/2022</td>
                    <td>activo y en preparación</td>
                    <td><button type="button" class="btn btn-primary">Validar</button></td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
